@font-face {
    font-family: roboto;
    src: url('./Roboto-Regular.ttf');
}


@font-face {
    font-family: dl;
    src: url('./DeliciousHandrawn-Regular.ttf');
}





.ginfo{
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr;
   gap: 1em;


   padding-top: 5rem;
}


.name,.country,.address,.email,.phone,#sch,#title,#dos,#cm,#tt,#res,#dow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gbtn{
    width: 30%;
    height: 70%;
}
body{
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    gap: 1em;
}

div.bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: dl;
    background-color: white;
    color: black;

    


    position: fixed; /* Set the navbar to fixed position */
    top: 0; 
}

.edu,.exp{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    row-gap: 1em;
}



