.ginfo{
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr;
   gap: 1em;
}


.name,.country,.address,.email,.phone,#sch,#title,#dos,#cm,#tt,#res,#dow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.gbtn{
    width: 30%;
    height: 70%;
}


#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1em;
}

.edu{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    row-gap: 1em;
}



